.course-card {
  padding: 15px 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  border-radius: 5px;
  .title {
    text-align: center;
    margin-bottom: 10px;
  }
  .img {
    width: 100%;
    height: auto;
  }
  .price,
  .authors {
    margin: 10px 0 0 15px;
  }
}
