.course-popup {
  display: flex;
  flex-direction: column;

  .form {
    display: flex;
    flex-direction: column;
  }

  .form-row {
    display: flex;
  }

  .input {
    display: flex;
    flex-grow: 1;
  }
}
